.custom-card {
    background-color: #d3d3d3;
    width: 200px;
    height: 320px;
    border-radius: 10px;
    overflow: hidden;
    border: 3px solid #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    transform-origin: center;
    position: relative;
    z-index: 1;
}

.custom-card:hover {
    cursor: pointer;
}

.custom-card.selected {
    border-color: gold;
    animation: border-glow 0.5s linear;
}

@keyframes border-glow {
    0% {
        box-shadow: 0 0 5px gold;
    }
    50% {
        box-shadow: 0 0 15px gold;
    }
    100% {
        box-shadow: 0 0 5px gold;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.overlay.active {
    display: block;
}

@keyframes attack-animation {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-20px) rotate(-5deg);
    }
    50% {
        transform: translateY(-10px) rotate(5deg);
    }
    75% {
        transform: translateY(-5px) rotate(-2deg);
    }
    100% {
        transform: translateY(0) rotate(0);
    }
}

.custom-card.attacking {
    animation: attack-animation 0.7s ease-in-out;
    z-index: 100;
}

.highlighted {
    box-shadow: 0 0 20px 5px #ffcc00;
    animation: parpadeo 1.5s infinite;
    cursor: pointer;
}

@keyframes parpadeo {
    0% { box-shadow: 0 0 20px 5px rgba(255, 204, 0, 0.8); }
    50% { box-shadow: 0 0 30px 10px rgba(255, 204, 0, 1); }
    100% { box-shadow: 0 0 20px 5px rgba(255, 204, 0, 0.8); }
}

.game-page .custom-card {
    width: clamp(124px, 12.5vw, 200px);
    height: clamp(198px, 20vw, 320px);
}