.custom-card-footer {
    position: absolute;
    bottom: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.custom-card-footer img {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.custom-card-footer img.magnify-icon {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 5px;
    width: 40px;
    height: 40px;
}

.flip-icon:hover{
    cursor: pointer;
}

.magnify-icon:hover{
    cursor: pointer;
}