.card-mini-container .custom-card {
    transform: scale(0.8);
}

.card-mini-container .custom-card:hover{
    cursor: default
}

.card-mini-container .custom-card.highlighted:hover {
    cursor: pointer;
}