.help-image {
    width: 40px;
    height: 40px;
    cursor: pointer;
    filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.8));
}

.help-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 10px;
}

.help-box {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 90%;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    font-size: 1rem;
}

.game-page .help-box {
    max-width: 600px;
}

.help-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.help-text {
    font-size: 1rem;
    margin-bottom: 20px;
}

.help-close {
    background-color:  #0050a8;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.help-close:hover {
    background-color: #0861c0;
}

.help-menu-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.help-menu-text {
    text-align: left;
    line-height: 1.5;
}

.help-button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	cursor: pointer;
}

@media (max-width: 768px) {
    .game-page .help-image {
        width: 30px;
        height: 30px;
    }
}

body.dark-mode .help-title h1 {
    color: #eee;
}

body.dark-mode .help-text {
    color: #ddd;
}

body.dark-mode .help-box {
    background-color: #333;
    color: #eee;
    border-color: #444;
}

body.reading-mode .help-title h1 {
    color: #5e4b3c;
}

body.reading-mode .help-text {
    color: #5e4b3c;
}

body.reading-mode .help-box {
    background-color: #f8f1e3;
    color: #5e4b3c;
    border-color: #d0c8b8;
}