.achievements-container {
    padding: 20px;
}

.achievements-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.achievements-header h1 {
    text-align: center;
    flex: 1;
    margin: 0;
}

.achievement-count {
    font-weight: bold;
    font-size: 30px;
    margin-right: 7.5px;
}

.achievements-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin: 50px;
    justify-items: center;
}

/* Para asegurar que la cuadrícula se vea bien en pantallas más pequeñas */
@media (max-width: 1200px) {
    .achievements-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .achievements-grid {
        grid-template-columns: 1fr;
    }
}
