.card {
    background-color: #d3d3d3;
    width: 200px;
    height: 320px;
    border-radius: 10px;
    overflow: hidden;
    border: 3px solid #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: border-color 0.3s ease; /* Smooth transition for border color */
}

.card.selected {
    border-color: gold; /* Change border to gold */
    animation: border-glow 0.5s linear; /* Trigger the animation */
}

@keyframes border-glow {
    0% {
        box-shadow: 0 0 5px gold;
    }
    50% {
        box-shadow: 0 0 15px gold;
    }
    100% {
        box-shadow: 0 0 5px gold;
    }
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-health {
    font-size: 0.9rem;
    color: #555;
    margin-left: 5px;
    margin-right: 5px;

}

.card-name {
    font-size: 1rem;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-left: 5px;
}

.card-body {
    margin-left: 5px;
}

.attack, .passive {
    margin-bottom: 10px;
}

.attack-name, .passive-name {
    color: #333;
    margin: 0;
}

.attack-details, .passive-details {
    font-size: 0.9rem;
    color: #555;
    margin: 0;
    margin-top: 2px;
}

.passive-details strong {
    font-weight: bold;
    color: #000;
}

.attack-details strong, .passive-details strong {
    font-weight: bold;
    color: #000;
}

.card-footer {
    position: relative;
    height: 40px;
}

.card-footer img {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 5px;
}

.card-image {
    padding: 3px;
    margin: 3px;
}

.card-image img {
    width: 100%;
    height: auto;
    margin: 0;
    object-fit: cover;
}