.enemy-side {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10;
    padding-bottom: 0;
}

.enemy-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    margin-bottom: 0;
}

.card-placeholder {
    margin-top: 100; 
    width: 140px;
    height: 224px;
    visibility: hidden;
}

.enemy-display{
    position: absolute;
    top: 0;
    left: 0;
}

/* Este a lo mejor se puede quitar, depende de cómo lo hagamos */
.card-placeholder.main {
    width: 200px;
    height: 320px;
    visibility: hidden;
}

.points-container{
    position: absolute;
    top: 0;
    right: 0;
}