.player-side{
    position: relative;
    margin-top: 0; /* Eliminado completamente el margen superior */
    margin-bottom: 0; /* Eliminado completamente el margen inferior */
    padding-top: 0;
    padding-bottom: 0;
}

.player-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem; /* Reducido de 8rem a 6rem */
    margin-top: 0; /* Eliminado margen superior */
}

.end-turn-button, .give-up-button {
    position: absolute;
    transform: translateX(-50%);
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px; /* Añadido margen superior */
}

.end-turn-button {
    bottom: 0; /* Ajustado para subir más el botón */
    left: 80%;
}

.give-up-button {
    bottom: 0; /* Ajustado para subir más el botón */
    left: 20%;
}

.card-placeholder {
    width: 140px;
    height: 224px;
    visibility: hidden;
}

/* Este a lo mejor se puede quitar, depende de cómo lo hagamos */
.card-placeholder.main {
    width: 200px;
    height: 320px;
    visibility: hidden;
}

.confirmation-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 1000;
}

.confirmation-dialog p {
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.confirm-button, .cancel-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 10px;
}

.confirm-button:hover {
    background-color: #0056b3;
}

.cancel-button {
    background-color: #f44336;
}

.cancel-button:hover {
    background-color: #d32f2f;
}