
.points-display {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin-right: 5rem;
}

.points-display.player {
    position: absolute;
    bottom: 0;
    right: 0;
}

.points-display.enemy {
    position: absolute;
    top: 0;
    right: 0;
}

.circles-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: -1rem;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: grey;
    opacity: 1;
}

.circle.golden {
    background-color: gold;
}