.profile-display {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-left: 2.5rem;
}

.profile-display.player p {
    position: relative;
    bottom: 3rem;
}

.profile-display.player img {
    position: relative;
    bottom: -1rem;
}