body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: auto; /* Permitir desplazamiento horizontal cuando sea necesario */
  overflow-y: auto; /* Permitir desplazamiento vertical cuando sea necesario */
  min-width: 320px; /* Establecer un ancho mínimo para evitar contenido demasiado estrecho */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
