.enemy-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    grid-row: 1;
    grid-column: 2;
}

.card-placeholder {
    margin-top: 100; 
    width: 140px;
    height: 224px;
    visibility: hidden;
}

.enemy-display{
    grid-row: 1;
    grid-column: 1;
}

.card-placeholder.main {
    width: 200px;
    height: 320px;
    visibility: hidden;
}

.points-container-enemy {
    margin-right: 5rem;
    grid-row: 1;
    grid-column: 3;
}

@media (max-width: 768px) {
    .enemy-cards {
        gap: 0.9rem;
        margin-right:-20px;
        margin-left:20px;
    }

    .enemy-side .points-container {
        margin-top: 0rem;
        margin-right: 1rem;
        grid-row:1;
        grid-column:3;
    }

    .enemy-cards{
        grid-row:2;
        grid-column:2;
    }
    .enemy-display{
    grid-row: 1;
    grid-column: 1;
    }
}