.enemy-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    grid-row: 1;
    grid-column: 2;
}

.enemy-cards .custom-card:hover{
    cursor: default;
}

.card-placeholder {
    margin-top: 100; 
    width: 140px;
    height: 224px;
    visibility: hidden;
}

.enemy-display{
    position: absolute;
    top: 0;
    left: 0;
}

.card-placeholder.main {
    width: 200px;
    height: 320px;
    visibility: hidden;
}

.points-container-enemy {
    margin-top: 1.5rem;
    margin-right: 5rem;
    position: absolute;
    top: 0;
    right: 0;
}

@media (max-width: 768px) {
    .enemy-cards {
        gap: clamp(0.1rem, 2.5vw, 0.9rem);
        grid-row: 2;
        grid-column: 1 / -1;
    }

    .enemy-side .points-container {
        margin-top: 0rem;
        margin-right: 1rem;
    }

    .enemy-cards{
        margin-top: 3rem;
    }
}