.enemy-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    grid-row: 1;
    grid-column: 2;
}

.enemy-cards .custom-card:hover{
    cursor: default;
}

.card-placeholder {
    width: 140px;
    height: 224px;
    visibility: hidden;
}

.enemy-display{
    grid-row: 1;
    grid-column: 1;
    justify-self: start;
    align-self: flex-start;
}

.card-placeholder.main {
    width: 200px;
    height: 320px;
    visibility: hidden;
}

.points-container-enemy {
    margin-top: 1.5rem;
    margin-right: 5rem;
    grid-row: 1;
    grid-column: 3;
    justify-self: end;
    align-self: flex-start;
}

@media (max-width: 768px) {
    .enemy-cards {
        gap: 0.9rem;
        grid-row: 2;
        grid-column: 1 / -1;
    }

    .enemy-side .points-container {
        margin-top: 0rem;
        margin-right: 1rem;
        grid-row:1;
        grid-column:3;
    }

    .enemy-display{
        grid-row: 1;
        grid-column: 1;
    }

    .points-container-enemy {
        margin-right: 1rem;
    }
}