.profile-display {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-left: 1.5rem;
}

.profile-display.player p {
    position: relative;
    bottom: 3.25rem;
    left: 5%;
}

.profile-display.enemy p {
    position: relative;
    left: 5%;
}

.profile-display.player img {
    position: relative;
    bottom: -1rem;
}

.profile-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.profile-enlarged {
    width: 500px;
    height: 500px;
    object-fit: contain;
}

@media (max-width: 768px) {
    .profile-display {
        font-size: 0.8rem;
        margin-top: 0.5rem;
        margin-left: 0rem;
    }

    .profile-display.player p {
        position: relative;
        bottom: 2rem;
    }

    .profile-photo{
        width: 30px;
        height: 30px;
    }
}